<?xml version="1.0" ?>
<robot name="48v" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find 48v_description)/urdf/materials.xacro" />
<xacro:include filename="$(find 48v_description)/urdf/48v.trans" />
<xacro:include filename="$(find 48v_description)/urdf/48v.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-2.6680289180270685e-16 0.00872523473946709 6.063702086425155e-18" rpy="0 0 0"/>
    <mass value="0.7358884583995312"/>
    <inertia ixx="0.000367" iyy="0.000545" izz="0.000239" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://48v_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://48v_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
